<template>
    <v-overlay id="createChild">
        <v-form ref="childForm" class="blue-grey  black--text float-right pa-4 mt-4" style="clear: both; border: 1px solid #777777; border-radius: 7px; box-shadow: 10px 10px 10px;">
            <v-text-field
                    v-model="first"
                    label="Child first name"
                    :rules="[() => !!first || 'The first name is required']"
            />

            <v-text-field
                    v-model="last"
                    label="Child last name"
                    :rules="[() => !!last || 'The last name is required']"
            />

            <template>
                <v-text-field
                    v-model="birthday"
                    label="Your child's birthday"
                    read-only
                    prepend-icon="mdi-calendar"
                    @click="showDatepicker = !showDatepicker"
                />
                <div v-if="showDatepicker" style="position: absolute; min-width: 290px; top: -5rem; left: 5rem; z-index: 12">
                    <v-date-picker v-if="showDatepicker" v-model="birthday" @input="showDatepicker = false" />
                </div>
            </template>

            <v-select
                    v-model="gender"
                    :items="genders"
                    label="Child gender"
            />

            <v-btn outlined small class="float-left" @click="submit">
                Submit
            </v-btn>
            <v-btn outlined small class="float-right" @click="$emit('closeAddChild')">
                Cancel
            </v-btn>
        </v-form>
    </v-overlay>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'CreateChild',
      data () {
        return {
            api: null,
            first: '',
            last: '',
            birthday: '',
            gender: '',
            showDatepicker: false,
            genders: [
                {
                    value: 'unspecified',
                    text: 'Unspecified'
                },
                {
                    value: 'male',
                    text: 'Male'
                },
                {
                    value: 'female',
                    text: 'Female'
                }
            ]
        }
      },
      mounted () {
        // eslint-disable-next-line
          console.log(this.$store.getters.token)
          this.api = axios.create({
              baseURL: process.env.BACKEND_URL,
              headers: {
                  'Content-Type': 'application/json',
                  Authorization: 'Bearer ' + this.$store.getters.token
              }
          })
      },
      methods: {
        submit () {
            if (this.$refs.childForm.validate()) {
                // eslint-disable-next-line
                console.log('all good', this.$store.getters.token)
                const url = 'api/honoree'
                this.api.post(url, {
                    first_name: this.first,
                    last_name: this.last,
                    birthday: this.birthday,
                    gender: this.gender
                })
                    .then((response) => {
                        // eslint-disable-next-line
                        console.log('create child success', response.data)
                    })
                    .catch((error) => {
                        // eslint-disable-next-line
                        console.log('create child error', error.response)
                    })
            }
        }
      }
  }
</script>

<style scoped>

</style>
