<template>
    <div class="login" style="position: absolute; right: 2rem; top: .8rem;">
        <v-content class="pt-1 px-12 mt-10" style="width: 390px;">
            <v-form ref="form" v-model="valid" class="grey darken-2 px-4 py-6" style="border-radius: .5rem;">
                <v-text-field
                    v-model="email"
                    label="Enter your e-mail address"
                    :rules="emailRules"
                    required
                    class="mb-4"
                />
                <v-text-field
                    v-model="password"
                    label="Enter your password"
                    min="8"
                    :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="e1 ? 'password' : 'text'"
                    :rules="passwordRules"
                    counter
                    required
                    @click:append="switchIcon"
                />
                <v-layout justify-space-between>
                    <v-btn :class=" { 'grey darken-4 white--text' : valid, disabled: !valid }" @click="submit">
                        Login
                    </v-btn>
                    <a href="" class="white--text">
                        Forgot Password
                    </a>
                </v-layout>
                <v-btn small outlined class="float-right" color="orange" @click="$emit('closeMe')">
                    Cancel
                </v-btn>
                <div class="mb-6">
                    &nbsp;
                </div>
                <span v-show="form_error !== ''" class="error--text" v-text="form_error" />
            </v-form>
        </v-content>
    </div>
</template>

<script>
    // import { EventBus } from '../plugins/eventBus'
    import api from '../plugins/api'

    export default {
        name: 'Login',
        data () {
            return {
                api: null,
                valid: false,
                e1: true,
                password: '',
                passwordRules: [
                    v => !!v || 'Password is required'
                ],
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
                ],
                form_error: ''
            }
        },
        mounted () {
            // eslint-disable-next-line
            console.log('url', process.env.BACKEND_URL)
            this.api = api.getApi()
        },
        methods: {
            submit () {
                if (this.$refs.form.validate()) {
                    const url = '/api/login'
                    this.api.post(url, {
                        email: this.email,
                        password: this.password
                    })
                        .then((response) => {
                            // eslint-disable-next-line
                            console.log('all good', response.data)
                            this.$store.commit('loggedIn', true)
                            this.$store.commit('token', response.data.token)
                            this.$cookies.set('giftmob-token', response.data.token, { path: '/', maxAge: 60 * 60 * 24 * 7 })
                            this.$emit('closeMe')
                            this.$router.push('dashboard')
                        })
                        .catch((error) => {
                            // TODO: refine error messages
                            if (error.response) {
                                this.form_error = 'Incorrect credentials, please try again.'
                            } else {
                                this.form_error = 'Unable to reach server, please try again in a few minutes'
                            }
                        })
                }
            },
            clear () {
                this.$refs.form.reset()
            },
            switchIcon () {
                this.e1 = !this.e1
            }
        }

    }
</script>

<style scoped>

</style>
