<template>
    <nav>
        <v-app-bar app dark color="blue-grey">
            <v-app-bar-nav-icon v-if="loggedIn" class="" @click="drawer = !drawer" />
            <v-toolbar-title class="text-uppercase blue-grey--text text--darken-3 display-2">
                <span class="font-weight-light mr-0 pr-0">Gift</span>Mob
            </v-toolbar-title>

            <v-spacer />

            <v-btn color="grey" small class="ml-7" @click="loggedIn ? logout() : show_login = !show_login">
                <span v-text="loggedIn ? 'Sign Out' : 'Sign In'" />
                <v-icon right>
                    {{ loggedIn ? 'mdi-exit-to-app' : 'mdi-login' }}
                </v-icon>
            </v-btn>

            <login v-if="show_login" @closeMe="show_login = !show_login" />
        </v-app-bar>

        <v-navigation-drawer v-if="loggedIn" v-model="drawer" left app class="grey darken-3">
            <v-list>
                <v-list-item v-for="link in links" :key="link.text" router :to="link.route">
                    <v-list-item-action>
                        <v-icon class="white--text">
                            mdi-{{ link.icon }}
                        </v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title class="white--text">
                            {{ link.text }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </nav>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Login from './Login'

    export default {
        name: 'Navbar',
        components: { Login },
        data () {
            return {
                drawer: true,
                show_login: false,
                links: [
                    {
                        icon: 'view-dashboard',
                        text: 'Dashboard',
                        route: '/dashboard'
                    },
                    {
                        icon: 'calendar',
                        text: 'Events',
                        route: '/events'
                    }
                ]
            }
        },
        computed: {
            ...mapGetters({
                loggedIn: 'loggedIn'
            })
        },
        mounted () {
            const token = this.$cookies.get('giftmob-token')
            if (token) {
                this.$store.commit('token', token)
                this.$store.commit('loggedIn', true)
            } else {
                this.$store.commit('token', '')
                this.$store.commit('loggedIn', false)
            }
        },
        methods: {
            logout () {
                this.$store.commit('loggedIn', false)
                this.$store.commit('token', '')
                this.drawer = false
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>

</style>
