<template>
    <div id="createEvent" class="pa-4">
        <h2>
            Create new event
        </h2>

        <v-form ref="form" v-model="valid">
            <v-row>
                <v-col>
                    <v-text-field
                            v-model="name"
                            label="Event name"
                            :rules="nameRules"
                            outlined
                            required
                    />
                </v-col>
                <v-col>
                    <v-textarea
                            v-model="description"
                            label="Description"
                            outlined
                    />
                </v-col>
            </v-row>

            <v-content>
                <v-col postion="relative">
                    <v-select
                            v-model="honoree"
                            :label="honorees.length ? 'Who is the event for?' : 'Add a child to continue'"
                            :items="honorees"
                            :rules="honoreeRules"
                    />
                    <v-btn class="blue--text caption float-right" style="cursor: pointer;" @click.stop="showAddChild = !showAddChild">
                        <v-icon>
                            mdi-plus
                        </v-icon>
                        Add new child
                    </v-btn>
                    <create-child v-if="showAddChild" @closeAddChild="showAddChild = false" />
                </v-col>
            </v-content>

            <v-row>
                <v-col style="position: relative;">
                        <v-text-field
                                v-model="eventDate"
                                label="Event date"
                                prepend-icon="mdi-calendar"
                                read-only
                                @click="showDatepicker = true"
                        />
                    <div v-if="showDatepicker" style="position: absolute; min-width: 290px; top: -5rem; left: 5rem;">
                        <v-date-picker v-model="eventDate" style="postion: absolute !important;" @input="showDatepicker = false" />
                    </div>
                    <!--<label for="" class="grey&#45;&#45;text text&#45;&#45;darken-1">When is the event?</label><br>
                    <v-date-picker v-model="eventDate"/>
                    <span class="error&#45;&#45;text" style="font-size: 12px;" v-text="eventDateError"/>-->
                </v-col>

                <v-col style="position: relative">
                    <v-btn
                            :class=" { 'grey darken-1 white--text' : !valid, 'primary': valid, disabled: !valid }"
                            style="position: absolute; bottom: 0; right: 0;"
                            @click="submit"
                    >
                        Next
                        <v-icon>
                            mdi-chevron-double-right
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-form>
    </div>
</template>

<script>
    import CreateChild from '@/components/CreateChild'

    export default {
        name: 'CreateEvent',
        components: { CreateChild },
        data: () => {
            return {
                valid: false,
                name: '',
                showDatepicker: false,
                description: '',
                honoree: null,
                eventDate: new Date().toISOString().substr(0, 10),
                eventDateError: '',
                hold: [],
                honorees: [
                    {
                        text: 'Declan',
                        value: '1'
                    },
                    {
                        text: 'Sally',
                        value: '2'
                    }
                ],
                nameRules: [
                    v => !!v || 'Name is required'
                ],
                honoreeRules: [
                    v => !!v || 'You must select who the event is for'
                ],
                dateRules: [
                    v => !!v || 'You must select a date for the event'
                ],
                showAddChild: false
            }
        },
        methods: {
            submit () {
                // eslint-disable-next-line
                console.log('datefield', this.$refs.dateField)
                if (this.$refs.form.validate()) {
                    // eslint-disable-next-line
                    console.log('neat')
                }
            }
        }
    }
</script>
