<template>
    <v-content>
        <h1>Welcome to GiftMob!</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur, dolor dolorem eos error esse ex, fuga inventore iste iure maxime natus obcaecati pariatur perspiciatis quae quidem repellat soluta, temporibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias amet commodi, deleniti doloremque eos, error eum, exercitationem hic libero maxime natus non perferendis quae quisquam quo repudiandae sed sit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, deleniti ducimus iusto officiis quibusdam quisquam recusandae rem sunt tempore. Accusamus, aperiam cupiditate distinctio dolorum fugiat molestias quidem ratione veritatis vitae?</p>
    </v-content>
</template>

<script>
    export default {}
</script>
