<template>
    <div class="dashboard">
        <h2>
            My Dashboard
        </h2>

        <div>
            <div class="flex mt-5" style="display: flex; justify-content: space-between">
                <div class="pa-4" style="width: 75%;">
                    <h2 class="grey--text text--darken-2">
                        Events
                    </h2>

                    <div v-if="!events.length" class="pt-4">
                        <nuxt-link :to="{'name': 'events-create'}" class="blue--text text--darken-2 display-1" style="text-decoration: none;">
                            Create my first event!
                        </nuxt-link>
                    </div>
                    <v-row v-else dense>
                        <v-col v-for="(event, i) in events" :key="i" cols="12">
                            <v-card :color="event.color" dark link :to="event.url">
                                <div class="d-flex flex-no-wrap justify-space-between">
                                    <div>
                                        <v-card-title class="headline" v-text="event.title" />

                                        <v-card-subtitle v-text="event.date" />
                                    </div>

                                    <v-avatar class="ma-3" size="125" tile>
                                        <v-img :src="event.src" />
                                    </v-avatar>
                                </div>
                            </v-card>
                        </v-col>
                    </v-row>
                </div>
                <div class="pa-4" style="width: 25%;">
                    <h2 class="grey--text text--darken-2">
                        Actions
                    </h2>

                    <div style="border: 1px solid aqua;">
                        Action 1
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'Dashboard',
        middleware: 'authenticated',
        data () {
            return {
                events: [
                    /*
                    {
                        color: '#1F7087',
                        src: 'https://picsum.photos/seed/banana/125',
                        title: 'Sally\'s Birthday',
                        date: 'July 16',
                        url: '/event/1'
                    },
                    {
                        color: '#952175',
                        src: 'https://picsum.photos/125',
                        title: 'Schroder\'s Birthday',
                        date: 'October 11',
                        url: '/event/2'
                    }
                    */
                ]
            }
        }
    }
</script>
